body{
    background-color:#5C91BB;
    background-image: url("../images/bg.jpg");
    background-size : 100%;
    background-repeat: no-repeat;
    
}

body{
    margin: 5px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.character{
    display: inline-block;
    border: 2px solid green;
    padding: 0 5px;
    background-color: white;
}

.name, .health{
    text-align: center;
}

#enemy .character{
    background-color: red;
    border-color: black;
}

#defender .character{
    background-color: black;
    color: white;
}