.character{
    display: inline-block;
    border: 2px solid green;
    padding: 0 5px;
}

.name, .health{
    text-align: center;
}

#enemy .character{
    background-color: red;
    border-color: black;
}